body {
    margin: 0;
    font-family: 'Playpen Sans', cursive;
  }
  
  .home-container {
    text-align: center;
    padding: 50px;
    position: relative;
    height: 610px;
  }
  
  .home-background {
    background-image: url('https://www.maya.ph/hubfs/Most-Popular_Fast-Food.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 610px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards;
    box-shadow: 0px -10px 30px #0000007c;
    z-index: -2;
  }
  .main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 40px;
    border: 2px solid #eadb96; 
    border-radius: 10px; 
  }
  
  
  .main-img {
    width: 600px;
    height: auto;
    margin-right: 20px;
  }
  
  .main-text {
    flex: 1;
    margin: 0 15px;
    text-align: left;
  }
  
  .main-text h3 {
    margin-bottom: 30px;
  }
  
  .main-text p {
    width: 700px;
    margin: 0;
  }
  
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .home-title {
    color: #fff;
    font-size: 48px;
    opacity: 0;
    animation: fadeInText 2s ease-in-out forwards;
    text-shadow: 1px 1px 5px #000;
  }
  
  @keyframes fadeInText {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .highlight-text {
    color: #ee8314;
    font-weight: bold;
  }
 
.mini-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    width: calc(50% - 40px);
    box-sizing: border-box; 
  }
  
  .mini-cart:hover {
    transform: scale(1.05);
  }
  
 
  .mini-cart img {
    width: 300px;
    height: 200px; 
    object-fit: cover; 
    border-radius: 8px;
    margin-bottom: 15px;
  }

  .mini-cart h1 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
  }
  

  .mini-cart p {
    color: #666;
  }
  

  .pizza-details-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; 
    max-width: 1200px;
    margin: 0 auto;
  }

  @media (max-width: 768px) {
    .mini-cart {
      width: 80%;
    }
  }
  
  
  