body{
  margin-top: 150px;
}
.aboutus-container {
    max-width: 800px;
    margin:  20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.245);
    position: relative;
  }
  
  .aboutus-container p {
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    margin-bottom: 15px;
  }
  
  .aboutus-container h2 {
    color: #EE8314;
    margin-top: 20px;
    margin-bottom: 10px;
  }
 
  .aboutus-left-icons img{
  height: 200px;
  display: flex;
  flex-direction: column;
  }
  .aboutus-right-icons img{
    height: 200px;
    display: flex;
    flex-direction: column;
    }
  
  .aboutus-left-icons{
  position: absolute;
  top: 130px;
  left: 50px;
  display: grid;
  gap: 100px;
  animation:float 3s linear infinite;
}
.aboutus-right-icons{
  position: absolute;
  top: 130px;
  right: 50px;
  display: grid;
  gap: 100px;
	animation:float 3s linear infinite;
}@media (max-width: 1290px) {
	
  .aboutus-left-icons{
   display: none;
  }
  .aboutus-right-icons{
   display: none;
	
  }}
