
header{
	position: fixed;
	width: 100%;
	top: 0;
	right: 0;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #fff;
	padding: 0 15%;
	transition: all .38s ease;
}
.logo{
	font-size: 30px;
	font-weight: 700;
	color: var(--text-color);
}

.navbar{
	display: flex;
}
.navbar a{
	font-size: var(--p-font);
	font-weight: 600;
	padding: 1px 10px;
	margin: 1px 25px;
	border-bottom: 2px solid transparent;
	transition: all .38s ease;
	color: black;
}
.navbar a:hover{
	border-bottom: 2px solid var(--main-color);
}
.h-icons{
	display: flex;
	align-items: center;
	padding: 10px 22px;
	background: var(--main-color);
	border-radius: 5rem;
}
.h-icons i{
	font-size: 22px;
	color: var(--bg-color);
	margin-right: 15px;
	margin-left: 8px;
}
#menu-icon{
	font-size: 32px;
	color: var(--bg-color);
	z-index: 10001;
	cursor: pointer;
	display: none;
}
.order-count-header {
	position: absolute;
	top: -13px;
	right: -13px;
	background-color: green;
	color: white;
	border-radius: 50%;
	padding: 4px 8px;
	font-size: 14px;
	font-weight: bold;
  }
@media (max-width: 900px) {
	.navbar {
		display: grid;
	  position: relative;
	  grid-template-columns: repeat(3, 3fr); 
	  gap: 20px;
	}
  
	.navbar a {
	  display: block;
	  padding: 10px 0; 
	  margin: 5px 0; 
	  border-bottom: 2px solid transparent;
	}
  
	#menu-icon {
	  display: none;
	}
	.logo{
		margin-right: 10px;
	}
  }