.footer-container {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-section {
    flex: 1;
    text-align: center;
}

.footer-section h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.3);
}

.footer-section p {
    margin: 0;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section li {
    margin-bottom: 5px;
}

.footer-section a {
    color: #fff;
    text-decoration: none;
}

.social-icons {
    display: flex;
    justify-content: center; 
}
.social-icons a {
    padding: 5px;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    background-color: #222;
    padding: 10px;
    border-radius: 5px; 
    color: #fff; 
}

.footer-bottom p {
    margin: 0;
}

@media (max-width: 600px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        margin-bottom: 20px;
    }

}
