
.contact{
	padding: 50px 15% 40px;
}
.main-contact{
	display: grid;
	grid-template-columns: repeat(1fr 1fr 1fr 1fr);
	justify-content: center;
	gap: 2rem;
}
.contact-content h4{
	font-size: 20px;
	color: var(--text-color);
	margin-bottom: 1.5rem;
}
.contact-content li{
	margin-bottom: 16px;
}
.contact-content li a{
	display: block;
	color: var(--text-color);
	font-size: 15px;
	font-weight: 500;
	transition: all .40s ease;
}
.contact-content li a:hover{
	transform: translateX(10px);
	color: var(--main-color);
}
.last-text p{
	text-align: center;
	padding: 25px;
	color: var(--text-color);
	font-size: 15px;
	letter-spacing: 1px;
}
.scroll-top{
	position: fixed;
	bottom: 2.2rem;
	right: 2.2rem;
}
.scroll-top i{
	padding: 8px;
	font-size: 1.4rem;
	color: #fff;
	background: var(--main-color);
	border-radius: 5rem;
}
@media (max-width: 1024px) {
	
	.main-contact{
		display: grid;
		grid-template-columns: repeat(1fr 1fr );
		/* justify-content: center; */
		gap: 2rem;
	}
  }
  