.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 0 150px;
  }
  
  .category,
  .card {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ddd;
    padding: 15px;
    text-align: center;
    margin-bottom: 20px;
  }
  
 
  
  .card {
    box-shadow: 8px 10px 20px -6px rgba(0, 0, 0, 0.25);
  }
  .card:hover{
    box-shadow: 8px 10px 20px -6px rgba(153, 12, 12, 0.25);
  }
  
  .card img {
    max-width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .description {
    height: 90px;
  }
  
.fav-icon{
    cursor: pointer;
}

  .cart-icon {
    position: absolute;
    bottom: 0;
    right: 30px;
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    transition: transform 0.2s ease-in-out;
  
  }
  
  .card-container .card {
    width: calc(25% - 20px);
    box-sizing: border-box;
    border: 1px solid #ddd;
    padding: 15px;
    text-align: center;
    margin-bottom: 20px;
    position: relative;
  }
  
  .categoryname {
    padding: 15px;
    border: 2px solid #333;
    color: red;
    text-shadow: 1px 1px 1px #333;
    margin: 10px 0;
  }
  
   .price {
    margin-top: 30px;
    color: #333;
    padding: 10px 20px;
    text-align: end;
    text-decoration: none;
    font-size: 24px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  } 

.order-button{
  display: inline-block;
  padding:.4rem 1.5rem;
  border:.1rem solid green;
  color:green;
  cursor: pointer;
  font-size: 1.2rem;
  border-radius: .5rem;
  position: relative;
  overflow: hidden;
  z-index: 0;
  margin-top: 1rem;
  box-shadow: inset 1px 1px 30px rgba(0, 128, 0, 0.203)}

.order-button::before{
  content: '';
  position: absolute;
  top:0; right: 0;
  width:0%;
  height:100%;
  background: green;
  transition: .3s linear;
  z-index: -1;
}
.order-button:hover{
  color: #fff;
  border: .1rem solid green;
}
.order-button:hover::before{
  width:100%;
  left: 0;
  
}

  .item-name {
    color: red;
    text-shadow: 1px 1px 1px #333;
    margin: 10px 0;
  }
  
  
 .order-container{
    padding: 5px;
    margin: 10px;
    display: flex;
    justify-content: space-around;
  
 }
 .scroll-top{
	position: fixed;
	bottom: 2.2rem;
	right: 2.2rem;
  border-radius: 5rem;
}
.scroll-top i{
	padding: 8px;
	font-size: 1.4rem;
	color: #fff;
	background: var(--main-color);
	border-radius: 5rem;
}

  
  @media (max-width: 800px) {
    .container {
      margin: 150px 10px 0 10px;
    }
  
    .card-container .card {
      width: calc(100% - 20px);
    }
  }
  @media (min-width: 800px) and ( max-width:1290px) {
    .container {
      margin: 0 10px;
    }
  
    .card-container .card {
      width: calc(50% - 20px);
    }
  }