.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 0 150px;
  }
  
  .category,
  .card {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ddd;
    padding: 15px;
    text-align: center;
    margin-bottom: 20px;
    
  }
  
  .category {
    background-color: #f3e2ca;
  }
  
  .card {
    box-shadow: 8px 10px 20px -6px rgba(0, 0, 0, 0.25);
  }
  
  .card img {
    max-width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .description {
    height: 90px;
  }
  
.fav-icon{
    cursor: pointer;
}

  .cart-icon {
    position: absolute;
    bottom: 0;
    right: 30px;
    color: #14cc17;
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    transition: transform 0.2s ease-in-out;
  }
  
  .card-container .card {
    width: calc(25% - 20px);
    box-sizing: border-box;
    border: 1px solid #ddd;
    padding: 15px;
    text-align: center;
    margin-bottom: 20px;
    position: relative;
  }
  
  .categoryname {
    padding: 15px;
    border: 2px solid #d9b88b;
    color: #facc08;
    text-shadow: 1px 1px 1px #ee8314;
  }
  
  .price {
    margin-top: 30px;
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    text-align: end;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  
  .item-name {
    text-shadow: 1px 1px 1px #ee8314;
  }
  
  
  .order-container{
    padding: 5px;
    border: 2px solid #14cc17;
    margin: 10px;
    display: flex;
    justify-content: space-around;
  }
  
  .order-controls button {
    margin: 0 5px;
    padding: 8px 12px;
    font-size: 20px;
    background-color: #F5EBDC;
    color: #4caf50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .order-controls button:hover {
    background-color: #45a0494b;
  }
  
  
  .order-button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .order-button:hover {
    background-color: #45a0494b;
  }
  
  
  @media (max-width: 700px) {
    .container {
      margin: 0 10px;
    }
  
    .card-container .card {
      width: calc(100% - 20px);
    }
  }